@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f5f9;
  margin: 0;
}

input::placeholder {
  font-size: 0.85rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body.modal-open {
  padding-right: 0 !important;
}